{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

<div class="container">

    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <ul class="nav nav-tabs  sticky-top" style="background-color: #F0F0F0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'blog:homepage' %}">All posts</a>
                </li>
                {% for category in catlist.categories %}
                    {% if catlist.current_category == category.slug %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                </li>
                    {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'blog:category' category.slug %}">{{ category }}</a>
                                </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% with catlist.posts as posts %}
                {% if posts %}
                    {% for post in posts %}
                        {% include 'inc/card.html' %}
                    {% endfor %}
                {% else %}
                    <div class="d-flex flex-column text-center " style="color: gray; padding: 250px; margin-top: 15px; margin-bottom: 15px;">
                        <h4>There are no posts</h4>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="d-flex justify-content-end" style="padding: 100px;">
            {% for tag in catlist.tags %}
            <span style="text-size: 2px; height: 40px; border: 0px solid black; background-color: lightgreen; border-radius: 30px; margin: 1px; padding: 5px;">
                        <a href="{% url 'blog:tag' tag.slug %}">{{ tag }}</a>
                    </span>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
