{% extends 'base.html' %}

{% block title %}{{ post }}{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <div class="d-flex flex-column" style="background-color: white; padding: 25px; margin-top: 10px; margin-bottom: 10px;">
                <p><strong>{{ post.author }}</strong> {{ post.publish_date | timesince }} ago • <a href="{% url 'blog:category' category.slug %}">{{ category }}</a> </p>
                <h4>{{ post }}</h4>
                <span style="text-size: 2;">
                {% for tag in post.tags.all %}
                    <span style="text-size: 2px; border: 0px solid black; background-color: lightgreen; border-radius: 30px; margin: 1px; padding: 5px;">
                        <a href="{% url 'blog:tag' tag.slug %}">{{ tag }}</a>
                    </span>
                {% endfor %}
                </span>
                <br>

                <p>{{ post.content | safe }}</p>
            </div>
            <br>
            <br>
            <div class="d-flex flex-column" style="background-color: white; padding: 25px; margin-top: 10px; margin-bottom: 10px;">
                {% with comments.count as total_comments %}
                <h6>
                    Comment{{ total_comments|pluralize }} <span style="color: darkviolet">{{ total_comments }}</span>
                    <hr>
                </h6>
                {% endwith %}
                {% for comment in comments %}
                    <span>
                        <strong>Comment {{ forloop.counter }} by {{ comment.name }}</strong> <i> {{ comment.publish_date | timesince }} ago</i>
                    </span>
                        {{ comment.content|linebreaks }}
                    {% empty %}
                    <p>There are no comments for this post.</p>
                {% endfor %}
                <h2>Make a new comment</h2>

                <form action="" id="myForm" method="post">
                    {{ comments_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Primary</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
